*{
    margin: 0px;
}
body{
    font-family: Arial;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    background: yellow;
    width: 100%;
}
li{
            float: left;
            font-size: 19px;
}
li a, .menu-btn{
            display: inline-block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
}
li a:hover, .menu:hover .menu-btn{
            color: red;
            transition: 1s;
}
.menu{
    display: inline-block;
    cursor: pointer;
}
.menu-content{
            display: none;
            position: absolute;
            background-color: gray;
            min-width: 200px;
            z-index: 1;
            position: fixed;
}
.menu-content a{
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
}
.menu-content a:hover {background-color: #f1f1f1;}
.menu:hover .menu-content{
            display: block;
}
.khungto{
    height: 1000px;
    width: 100%;
}
.khung_menu{
    height: 54px;
    width: 100%;
    margin: auto;
    top: 0;
}

.frmTK{
    height: 54px;
    width: 205px;
    line-height: 45px;
}
.frmTK input{
    border-radius: 4px ;
    height: 20px;
    width: 160px;
    border: 1px solid gray;
}
.khungchinh{
    width:100%;
    margin: auto;
}
.main {
  padding: 90px;
  margin-top: -90px;
  height: 100%; 
}
/*khung san pham*/
.khungsanpham{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.picture{
    height: 400px;
    width: 100%;
}
/*anh san pham*/
.picture_sanpham{
    height: 100%;
    width: 30%;
}
/*gioi thieu san pham*/
.thongtinsanpham{
    height: 100%;
    width: 40%;
}
.font_chinh{
    font-size: 32px;
}
.gia{
    width: 100%;
    height: 72px;
}
.left{
    float: left;
    height: 64px;
    width: 270px;
}
.left b{
    font-size: 26px;
    color: red;
}
.right{
    float: right;
    height: 64px;
    width: 140px;
    text-align: center;
    margin-top: 17px;
}
.gioithieu{
    background-color: yellow;
    padding: 12px;
}
.gioithieu a{
    text-decoration: none;
    cursor: pointer;
    font-size: 21px;
}
.thongso{
    width: 100%;
    height: 230px;
}
.thongso b{
    font-size: 24px;
}
.lietke{
    width: 100%;
    height: 210px;
}
.thongso_trai{
    float: left;
    width: 50%;
    height: 100%;

}
.thongso_phai{
    float: left;
    width: 50%;
    height: 100%;
}
/*bang mua sam*/
.bangchu{
    width: 100%;
    height: 62px;
}
.AB{
    width: 100%;
    height: 50px;
    margin: auto;
    background-color: gray;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 2;
    left: 0px;
}
.AC{
    width: 100%;
    height: 50px;
    margin: auto;
    background-color: red;
    position: absolute;
    z-index: 2;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
}
.TD{
    width: 70%;
    height: 100px;
    position: relative;
    margin: auto;
}
.text_1{
    width: 59%;
    height: 28px;
    margin: auto;
    margin-top: 13px;
    font-size: 25px;
    float: right;
}
.icon_buy img{
    height: 42px;
    width: 74px;
}
.icon_buy{
    height: 100%;
    width: 82px;
    margin: auto;
    margin-top: 3px;
}
.text_1 a{
    text-decoration: none;
}
/*Hotline*/
.hotline{
    width: 100%;
    height: 26px;
    text-align: center;
}
.hotline a{
    text-decoration: none;
    color: blue;
    cursor: pointer;
}
.hotline a:hover {
    text-decoration: underline;
    color: blueviolet;
}
/*anh dam bao*/
.picture_dambao{
    height: 100%;
    width: 30%;
}
/*tieu de cuoi*/
.khungtieudecuoi{
    width: 100%;
    height: 480px;
    background-color: #FFF200;
}
.khungchuatin{
    margin: auto;
    height: 100%;
    width: 1180px;
}
.khunganh{
    height: 183px;
    width: 100%;
}
a{
    text-decoration: none;
}
.khungdiachi{
    width: 487px;
    height: 85%;
    display: flex;
}
.khunghethong{
    height: 100%;
    width: 495px;
}
.font-chinh{
    font-size: 22px;
    font-weight: bold;
}
.font-phu_1{
    font-size: 17px;
    font-weight: bold;
}
.font-phu_2{
    font-size: 17px;
    font-weight: bold;
    color: blue;
}
.font-chu{
    width: 316px;;
}
.font-chu span{
    font-size: 15px;
}
.font-chu a{
    font-size: 15px;
}
.khungcuoi{
    width: 100%;
    height: 250px;
}
.taocot{
    width: 100%;
    height: 250px;
    display: flex;
}
.khunggioithieu{
    width: 200px;
    height: 170px;
    border-left: 1px solid;
}
.khungchinhsach{
    width: 285px;
    height: 207px;
    border-left: 1px solid;
}
.lk_web{
    width: 213px;
    height: 174px;
    border-left: 1px solid;
    text-align: center;
}
.lk_web img{
    border-radius: 100%;
}
.lk_web a:hover {
    opacity: 0.9;
    transition: 1s;
}
.font-chu   a:link {color: black;}
.font-chu   a:visited {color: white;}
.font-chu   a:hover {color: blue;font-style: italic;text-decoration: underline;}
.font-chu   a:active {color: purple;}
.khunggioithieu div a:link {color: black;}
.khunggioithieu div a:visited {color: black;}
.khunggioithieu div a:hover {color: red;font-style: italic;text-decoration: underline;}
.khunggioithieu div a:active {color: purple;}
.khungchinhsach a:link {color: black;}
.khungchinhsach a:visited {color: black;}
.khungchinhsach a:hover {color: red;font-style: italic;text-decoration: underline;}
.khungchinhsach  a:active {color: purple;}
